.forgetPasswordModalImgCol {
    padding-top: 3%;
    padding-bottom: 3%;
}

#forgetPasswordModalText {
    color: #424242;
}

#forgetPasswordModalSubText {
    color: #434343;
    font-size: 85%;
}

.forgetPasswordModalCol {
    padding-bottom: 3%;
}

.forgetPasswordModalEmailCol {
    padding-bottom: 3%;
}

.forgetPasswordFormText {
    color: #424242;
}

.forgetPasswordModalEmailRow {
    margin-right: 0;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

#forgetPasswordModalSendEmailBtn {
    background: #424242;
    color: #ffffff;
    border-color: #424242;
}

#forgetPasswordModalSendEmailBtn:focus {
    box-shadow: 1px 1px 10px #424242;
}

.errorText {
    color: red;
}