#login-content-container {
    background-color: #313942;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-tabContainer li {
    background-color: #E4F2F0;
}

.login-tabHeading {
    font-weight: bold;
    color: #424242;
    font-size: 90%;
}

.login-tabHeading:hover {
    color: #424242;
}

#login-tabContent {
    background-color: #FFFFFF;
    min-height: 400px;
}

#simLogo-container {
    padding-top: 5%;
}

#simLogo {
    height: 30%;
    width: 50%;
    display: block;
    margin: 0 auto;
}

#login-form {
    padding: 10% 0%;
}

.login-formGroup {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-forgetPassword {
    margin-top: -8%;
}

#login-button {
    background-color: #424242;
    border: 0;
    padding-left: 5%;
    padding-right: 5%;
}