.SAHomeCon {
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1 0 auto;
    padding: 0 !important;
}

.SAHomeContent {
    background: #ffffff;
    min-height: 84vh;
    padding: 0 !important;
}

#SAHomeSearchBarRow {
    background: #e4f2f0;
    width: 100%;
    margin: 0 !important;
}

.SAHomeSearchBarCol {
    height: 100%;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#addUserBtn {
    background: #424242;
    border-color: #424242;
    min-width: 45%;
    border-radius: 6px;
}

.SAHomeSearchInputForm {
    min-width: 80%;
}

#SAHomeSearchBar {
    min-width: 80%;
    border: none;
    border-radius: 8px;
}

#SAHomeSearchBarBtn {
    background: none;
    border: none;
}

#searchBtnIcon {
    color: #424242;
}

#adminTable {
    width: 100%;
}