#addUserModalTitle {
    text-align: center;
    color: #424242;
}

.addAdminFormRow {
    padding-bottom: 2%;
}

.addAdminFormCol {
    margin: 1% 0 1% 0;
    padding-right: 2%;
}

.addAdminFormIcon {
    color: #424242;
}

.addAdminFormText {
    color: #434343;
    border: none !important;
    border-bottom: 1px solid #c8c8c8 !important;
}

.addAdminFormText:focus {
    box-shadow: 1px 1px 10px #ffffff !important;
}

#addAdminFormSelectOption {
    color: #434343;
}

.addAdminFormBtnRow {
    padding: 3% 0 3% 0;
}

#addAdminFormBtn {
    background: #424242;
    border-color: #424242;
    border-radius: 6px;
}

#addAdminFormBtn:focus {
    box-shadow: 1px 1px 10px #424242;
}

.errorText {
    color: red;
}