#addLiveTalkModalTitle {
    color: #424242;
    text-align: center;
}

.addLiveTalkFormRow {
    padding-bottom: 4%;
}

.addLiveTalkFormCol {
    padding: 0 2% 0 2%;
}

.addLiveTalkForm_InnerRow {
    padding-bottom: 4%;
}

.addLiveTalkFormIconInputGrp {
    background: transparent !important;
    border: none !important;
}

#addLiveTalkForm_ProgTalkName {
    border: none;
    border-bottom: 1px solid #c8c8c8;
    border-radius: 0;
    color: #434343;
    font-size: 85% !important;
}

#addLiveTalkForm_ProgTalkName:focus {
    box-shadow: none;
}

#addLiveTalkForm_Venue {
    border: none;
    border-bottom: 1px solid #c8c8c8;
    border-radius: 0;
    color: #434343;
    font-size: 85% !important;
}

#addLiveTalkForm_Venue:focus {
    box-shadow: none;
}

.addLiveTalkFormSelect {
    color: #434343 !important;
    border: none !important;
    border-bottom: 1px solid #c8c8c8 !important;
    border-radius: 0 !important;
    font-size: 85% !important;
}

.addLiveTalkFormSelect:focus {
    box-shadow: none !important;
}

.addLiveTalkFormSelectOption {
    color: #434343;
    font-size: 85% !important;
}

#addLiveTalkForm_ProgTalkStartTime {
    border: none;
    border-bottom: 1px solid #c8c8c8;
    border-radius: 0;
    color: #434343;
    font-size: 85% !important;
}

#addLiveTalkForm_ProgTalkStartTime:focus {
    box-shadow: none;
}

#addLiveTalkForm_ProgTalkEndTime {
    border: none;
    border-bottom: 1px solid #c8c8c8;
    border-radius: 0;
    color: #434343;
    font-size: 85% !important;
}

#addLiveTalkForm_ProgTalkEndTime:focus {
    box-shadow: none;
}

.addLiveTalkForm_InnerCol {
    height: 80%;
}

#addLiveTalkForm_LiveTalkURL {
    resize: none;
    border-radius: 6px;
    color: #434343;
    font-size: 85%;
}

.addLiveTalkFormLabel {
    color: #424242;
    font-size: 90% !important;
    font-weight: bold;
}

#addLiveTalkFormBtn {
    background: #60c6d9;
    border-color: #60c6d9;
    border-radius: 6px;
    width: 20%;
}

#addLiveTalkFormBtn:focus {
    box-shadow: none;
}