#addStudySIMProgModalTitle {
    color: #424242;
    text-align: center;
}

#addStudySIMProgModalBody {
    height: 60% !important;
    overflow-y: auto !important;
}

.addStudySIMProgFormCol {
    padding: 0 2% 0 2%;
}

.addStudySIMProgForm_InnerRow {
    padding-bottom: 4%;
}

#addStudySIMProgForm_ProgName {
    border: none;
    border-bottom: 1px solid #c8c8c8;
    border-radius: 0;
    color: #434343;
}

#addStudySIMProgForm_ProgName:focus {
    box-shadow: none;
}

#addStudySIMProgForm_LogoFile {
    border: none;
    border-bottom: 1px solid #c8c8c8;
    border-radius: 0;
    color: #434343;
}

#addStudySIMProgForm_LogoFile:focus {
    box-shadow: none !important;
}

.addStudySIMProgFormSelect {
    color: #434343 !important;
    border: none !important;
    border-bottom: 1px solid #c8c8c8 !important;
    border-radius: 0 !important;
}

.addStudySIMProgFormSelect {
    box-shadow: none !important;
}

.addStudySIMProgFormSelectOption {
    color: #434343 !important;
} 

.addStudySIMProgFormLabel {
    color: #424242;
}

.addStudySIMProgForm_CheckBox {
    color: #434343;
}

.addStudySIMProgForm_InnerCol {
    height: 80%;
}

.addStudySIMProgModal .addStudySIMProgForm_MoSCon {
    background: #dff0ef;
    padding: 2%;
    border-radius: 6px;
    overflow-y: auto;
    max-height: 10vh;
    overflow-x: hidden;
}

.addStudySIMProgModal .addStudySIMProgForm_EntryQualCon {
    background: #dff0ef;
    padding: 2%;
    border-radius: 6px;
    overflow-y: auto;
    max-height: 10vh;
    overflow-x: hidden;
}

.addStudySIMProgModal .addStudySIMProgForm_DisciplineCon {
    background: #dff0ef;
    padding: 2%;
    border-radius: 6px;
    overflow-y: auto;
    max-height: 10vh;
    overflow-x: hidden;
}

.addStudySIMProgModal .addStudySIMProgForm_SubDisciplineCon {
    background: #dff0ef;
    padding: 2%;
    border-radius: 6px;
    overflow-y: auto;
    max-height: 90vh;
    overflow-x: hidden;
}

#addStudySIMProgFormBtn {
    background: #60c6d9;
    border-color: #60c6d9;
    border-radius: 6px;
    width: 20%;
}

#addStudySIMProgFormBtn:focus {
    box-shadow: none;
}