.admissionAppCon {
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1 0 auto;
    padding: 0 !important;
}

.admissionAppContent {
    background: #ffffff;
    min-height: 84vh;
    padding: 0 !important;
}

.admissionAppContentCon {
    background: #ffffff;
    min-height: 84vh;
    padding: 0 !important;
}

#admissionAppContentHeaderRow {
    background: #88B7B5;
    width: 100%;
    margin: 0 !important;
}

.admissionAppContentHeaderCol {
    height: 100%;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#admissionAppHeaderText {
    color: #424242;
}

/*******************************************************/
/* Tabs Con Css*/
.admissionAppContentTabRow {
    margin: 0 !important;
}

.admissionAppContentTabCol {
    padding: 0 !important;
}

.admissionAppTabConRow {
    margin: 0 !important;
    padding: 0;
}

.admissionAppTabConCol {
    padding: 0 !important;
}

.admissionAppTabConInnerCol {
    padding: 0 !important;
}

.admissionAppTab_NavItem {
    background: #e4f2f0;
}

.admissionAppTab_NavLink {
    color: #424242;
    font-weight: bold;
}

.admissionAppTab_NavLink:focus {
    color: #ffffff;
    background: #62929E;
    border-color: #62929E !important;
}

.admissionAppTab_NavLink:hover {
    color: #ffffff;
    background: #62929E;
    border-color: #62929E !important;
}

.admissionAppTabNav .admissionAppTab_NavLink.active {
    background: #62929E !important;
    color: #ffffff !important;
    border-color: #62929E !important;   
}

.admissionAppTabpaneCol {
    padding: 0 !important;
}

/*******************************************************/
/* Admission Application Table - Steps */
#admissionAppTable_Steps {
    width: 100%;
    margin-bottom: 0;
    max-width: 100%;
}

.admissionAppHeader_SNo {
    width: 3%;
    color: #424242;
    font-size: 90%;
}

.admissionAppHeader_ProgTalk {
    width: 10%;
    color: #424242;
    font-size: 90%;
}

.admissionAppHeader_ProgTalkDetails {
    width: 20%;
    color: #424242;
    font-size: 90%;
}

.admissionAppHeader_AwardingUni {
    width: 12%;
    color: #424242;
    font-size: 90%;
}

.admissionAppHeader_StartTime {
    width: 15%;
    color: #424242;
    font-size: 90%;
}

.admissionAppHeader_EndTime {
    width: 15%;
    color: #424242;
    font-size: 90%;
}

.admissionAppHeader_Venue {
    width: 15%;
    color: #424242;
    font-size: 90%;
}

.admissionAppHeader_Capacity {
    width: 5%;
    color: #424242;
    font-size: 90%;
}

.admissionAppHeader_Discipline {
    width: 10%;
    color: #434343;
    font-size: 85%;
}

.admissionAppHeader_Edit {
    width: 5%;
    color: #424242;
    font-size: 90%;
}

.admissionAppHeader_Delete {
    width: 5%;
    color: #424242;
    font-size: 90%;
}

/******************* Table Data *******************/
.admissionAppData_SNo {
    width: 3%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
}

.admissionAppData_ProgTalk {
    width: 10%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
}

.admissionAppData_ProgTalkDetails {
    width: 20%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
}

.admissionAppData_AwardingUni {
    width: 12%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
}

.admissionAppData_StartTime {
    width: 15%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
}

.admissionAppData_EndTime {
    width: 15%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
}

.admissionAppData_Venue {
    width: 15%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
}

.admissionAppData_Capacity {
    width: 5%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
}

.admissionAppData_Discipline {
    width: 10%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
}

.admissionAppData_Edit {
    width: 5%;
    color: #434343;
    font-size: 85%;
}

.admissionAppData_Delete {
    width: 5%;
    color: #434343;
    font-size: 85%;
}

#editAdmissionAppBtn {
    background: none;
    border: none;
    color: #434343;
}

#editAdmissionAppBtn:focus {
    box-shadow: none;
}

#editAdmissionAppBtnIcon {
    color: #434343;
}

#deleteAdmissionAppBtn {
    background: none;
    border: none;
    color: #434343;
}

#deleteAdmissionAppBtn:focus {
    box-shadow: none;
}

#deleteAdmissionAppBtnIcon {
    color: #434343;
}

/*******************************************************/
/* Admission Application Table - Additional Info */
#admissionAppTable_AdditionalInfo {
    width: 100%;
    margin-bottom: 0;
    max-width: 100%;
}