.Brochures-container {
    min-height: 100vh;
    overflow-y: auto;
    flex: 1 0 auto;
    overflow-x: hidden;
    padding: 0 !important;
}

.Brochures-content {
    background-color: #ffffff;
    min-height: 84vh;
    padding: 0 !important;
}

#Brochures-topContentContainer {
    background-color: #ffffff;
    min-height: 84vh;
    padding: 0 !important;
}

#Brochures-firstRow {
    background-color: #88B7B5;
    height: 13vh;
    margin: 0 !important;
}

#Brochures-firstRowCol {
    height: 100%;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#Brochures-title {
    color: #424242;
}

#Brochures-secondRow {
    margin: 0 !important;
}

#Brochures-secondRowCol {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.Brochures-secondInnerRow {
    margin: 0 !important;
}

.Brochures-secondInnerCol {
    padding: 0 !important;
}

.Brochures-navItemCon {
    padding: 0 !important;
    width: 20%;
}

.Brochures-navItems {
    background-color: #e4f2f0;
}

.Brochures-navLinks {
    color: #424242;
    font-weight: bold;
}

.Brochures-navLinks:hover {
    background-color: #62929E;
    color: white;
    border-color: #62929E !important;
}

.Brochures-navLinks:focus {
    background-color: #62929E;
    color: white;
    border-color: #62929E !important;
}

.Brochures-nav .Brochures-navLinks.active {
    background-color: #62929E !important;
    color: white !important;
    border-color: #62929E !important;
}

#Brochures-titleRow {
    margin: 0 !important;
}

#Brochures-thirdRowCol {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#Brochures-titleRowCol {
    height: 100%;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.Brochures-tableColCon {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.Brochures-tableCon {
    width: 100%;
    margin-bottom: 0;
    max-width: 100%;
}

#Brochures-SNoHeading {
    width: 3%;
}

#Brochures-imageHeading, #Brochures-descHeading {
    width: 15%;
}

#Brochures-editHeading {
    width: 10%;
}

#Brochures-tableHeader {
    color: #424242;
    font-size: 90%;
    background-color: white;
}

#Brochures-tableBody {
    color: #434343;
    font-size: 85%;
    background-color: white;
}

#Brochures-editBtn {
    background: none;
    color: #434343;
    border: none;
}

#Brochures-editBtn:focus {
    box-shadow: none;
}

#Brochures-modalTitle {
    color: #424242;
    text-align: center;
}

.Brochures-formLabel {
    color: #424242;
    font-size: 90% !important;
    font-weight: bold;
}

.Brochures-formLabelGroup {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.Brochures-formGroup {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Brochures-editFooter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Brochures-editCol {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Brochures-saveBtn {
    width: 40%;
    background: #60c6d9;
    border: 1px solid #60c6d9;
    border-radius: 6px;
    color: white;    
}

#Brochures-saveBtn:focus {
    box-shadow: none;   
}

#Brochures-cancelBtn {
    width: 40%;
    background: none;
    border: 1px solid #60c6d9;
    border-radius: 6px;
    color: #60c6d9;
}

#Brochures-cancelBtn:focus {
    box-shadow: none;   
}

#Brochures-inputFields {
    border: none;
    border-bottom: 1px solid #c8c8c8;
    border-radius: 0;
    color: #434343;    
    font-size: 85%;
}

#Brochures-inputFields:focus {
    box-shadow: none;
}

#Brochures-textAreas {
    color: #434343;    
    font-size: 85%;
    border: 1px solid #c8c8c8;
}

#Brochures-textAreas:focus {
    box-shadow: none;
    border: 1px solid #c8c8c8;
}

.errorMessage {
    color: red;
    font-size: 85%;
}

#border {
    border: 0.5px solid #e8e8e8;
    margin: 2% 0% 1% 0%;
}

.Brochures-Header {
    background-color: #f1f6f9;
    font-weight: bold;
    color: #424242;
    font-size: 90%;
}

.card-header {
    border-bottom: none !important;
}

.card {
    border: none !important;
}

#Brochures-titleRow {
    margin: 0 !important;
}

.Brochures-cardBody {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    background-color: #b5cfd8;
}

.Brochures-imgFile .custom-file-input {
    border: 1px solid #c8c8c8;
    border-radius: 6px;
    font-size: 85% !important;
    color: #434343;
}

.Brochures-imgFile .custom-file-label {
    color: #434343;
    overflow: hidden;
    font-size: 90% !important;
}

.Brochures-imgFile:focus {
    box-shadow: none;
}

.Brochures-imageUrl {
    transition: transform .2s;
}

.Brochures-imageUrl:hover {
    -ms-transform: scale(3); /* IE 9 */
    -webkit-transform: scale(3); /* Safari 3-8 */
    transform: scale(3); 
    z-index: 9999;
}