.Bursary-container {
    min-height: 100vh;
    overflow-y: auto;
    flex: 1 0 auto;
    overflow-x: hidden;
    padding: 0 !important;
}

.Bursary-content {
    background-color: #ffffff;
    min-height: 84vh;
    padding: 0 !important;
}

#Bursary-topContentContainer {
    background-color: #ffffff;
    min-height: 84vh;
    padding: 0 !important;
}

#Bursary-firstRow {
    background-color: #88B7B5;
    height: 13vh;
    margin: 0 !important;
}

#Bursary-firstRowCol {
    height: 100%;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#Bursary-title {
    color: #424242;
}

#Bursary-secondRow {
    margin: 0 !important;
}

#Bursary-secondRowCol {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.Bursary-secondInnerRow {
    margin: 0 !important;
}

.Bursary-secondInnerCol {
    padding: 0 !important;
}

.Bursary-Header {
    background-color: #e4f2f0;
    font-weight: bold;
    color: #424242;
    font-size: 90%;
}

.Bursary-Header:hover {
    background-color: #62929E;
    color: white;
}

.card-header {
    border-bottom: none !important;
}

.card {
    border: none !important;
}

#Bursary-titleRow {
    margin: 0 !important;
}

#Bursary-thirdRowCol {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#Bursary-titleRowCol {
    height: 100%;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.Bursary-cardBody {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    background-color: #b5cfd8;
}

.Bursary-tableColCon {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.Bursary-tableCon {
    width: 100%;
    margin-bottom: 0;
    max-width: 100%;
    background-color: white;
}

#Bursary-titleHeading {
    width: 25%;
}

#Bursary-editHeading {
    width: 15%;
}

#Bursary-tableHeader {
    color: #424242;
    font-size: 90%;
}

#Bursary-tableBody {
    color: #434343;
    font-size: 85%;
}

#Bursary-editBtn {
    background: none;
    color: #434343;
    border: none;
}

#Bursary-editBtn:focus {
    box-shadow: none;
}

#Bursary-modalTitle {
    color: #424242;
    text-align: center;
}

.Bursary-formGroup {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Bursary-editFooter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Bursary-editCol {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Bursary-saveBtn {
    width: 40%;
    background: #60c6d9;
    border: 1px solid #60c6d9;
    border-radius: 6px;
    color: white;    
}

#Bursary-saveBtn:focus {
    box-shadow: none;   
}

#Bursary-cancelBtn {
    width: 40%;
    background: none;
    border: 1px solid #60c6d9;
    border-radius: 6px;
    color: #60c6d9;
}

#Bursary-cancelBtn:focus {
    box-shadow: none;   
}

#Bursary-inputFields {
    border: none;
    border-bottom: 1px solid #c8c8c8;
    border-radius: 0;
    color: #434343;    
    font-size: 85%;
}

#Bursary-inputFields:focus {
    box-shadow: none;
}

#Bursary-textAreas {
    color: #434343;    
    font-size: 85%;
    border: 1px solid #c8c8c8;
}

#Bursary-textAreas:focus {
    box-shadow: none;
    border: 1px solid #c8c8c8;
}

.errorMessage {
    color: red;
    font-size: 85%;
}