#changePasswordModalTitle {
    color: #f69e7b;
    text-align: center;
}

.changePasswordFormRow {
    padding-bottom: 4%;
}

.changePasswordFormCol {
    padding: 0 2% 0 2%;
}

.changePasswordFormLabel {
    color: #424242;
    font-size: 90% !important;
    font-weight: bold;
}

.currentPasswordForm_Text {
    border: none !important;
    border-bottom: 1px solid #c8c8c8 !important;
    border-radius: 0 !important;
    color: #434343;
    font-size: 85% !important;
}

.currentPasswordForm_Text:focus {
    box-shadow: none !important;
}

#confirmChangePasswordFormBtn {
    background: #f69e7b;
    border: #f69e7b;
    color: #ffffff;
    border-radius: 6px;
    width: 50%;

    
}

#confirmChangePasswordFormBtn:focus {
    box-shadow: none;
}

#cancelChangePasswordFormBtn {
    background: none;
    border: 1px solid #f69e7b;
    color: #FAA300;
    border-radius: 6px;
    width: 40%;
}

#cancelChangePasswordFormBtn:focus {
    box-shadow: none;
}

/**********************************************************************************************/
/* Modal Validation Css */
/**********************************************************************************************/
.errorMessage {
    color: red;
    font-size: 80%;
}