#deleteStudySIMProgModalTitle {
    font-size: 95%;
    color: #EA526F;
}

.deleteStudySIMProgModalCol {
    padding-bottom: 4%;
}

#deleteStudySIMProgModalText {
    font-size: 90%;
    color: #424242;
}

#confirmDeleteStudySIMProgModalBtn {
    background: none;
    border: 1px solid #EA526F;
    border-radius: 6px;
    color: #EA526F;
    width: 40%;
}

#confirmDeleteStudySIMProgModalBtn:focus {
    box-shadow: none;
}

#cancelDeleteStudySIMProgModalBtn {
    background: #EA526F;
    border: 1px solid #EA526F;
    border-radius: 6px;
    color: #ffffff;
    width: 40%;
}

#cancelDeleteStudySIMProgModalBtn {
    box-shadow: none;
}