#deleteLiveTalkModalTitle {
    font-size: 95%;
    color: #EA526F;
}

.deleteLiveTalkModalCol {
    padding-bottom: 4%;
}

#deleteLiveTalkModalText {
    font-size: 90%;
    color: #424242;
}

#confirmDeleteLiveTalkModalBtn {
    background: none;
    border: 1px solid #EA526F;
    border-radius: 6px;
    color: #EA526F;
    width: 40%;
}

#confirmDeleteLiveTalkModalBtn:focus {
    box-shadow: none;
}

#cancelDeleteLiveTalkModalBtn {
    background: #EA526F;
    border: 1px solid #EA526F;
    border-radius: 6px;
    color: #ffffff;
    width: 40%;
}

#cancelDeleteLiveTalkModalBtn:focus {
    box-shadow: none;
}