#editProgTalkModalTitle {
    color: #424242;
    text-align: center;
}
.editProgTalkFormRow {
    padding-bottom: 4%;
}

.editProgTalkFormCol {
    padding: 0 2% 0 2%;
}

.editProgTalkForm_InnerRow {
    padding-bottom: 4%;
}

.editProgTalkFormIconInputGrp {
    background: transparent !important;
    border: none !important;
}

#editProgTalkForm_ProgTalkName {
    border: none;
    border-bottom: 1px solid #c8c8c8;
    border-radius: 0;
    color: #434343;
}

#editProgTalkForm_ProgTalkName:focus {
    box-shadow: none;
}

#editProgTalkForm_Venue {
    border: none;
    border-bottom: 1px solid #c8c8c8;
    border-radius: 0;
    color: #434343;
}

#editProgTalkForm_Venue:focus {
    box-shadow: none;
}

.editProgTalkFormSelect {
    color: #434343 !important;
    border: none !important;
    border-bottom: 1px solid #c8c8c8 !important;
    border-radius: 0 !important;
}

.editProgTalkFormSelect:focus {
    box-shadow: none !important;
}

.editProgTalkFormSelectOption {
    color: #434343;
}

#editProgTalkForm_ProgTalkStartTime {
    border: none;
    border-bottom: 1px solid #c8c8c8;
    border-radius: 0;
    color: #434343;
}

#editProgTalkForm_ProgTalkStartTime:focus {
    box-shadow: none;
}

#editProgTalkForm_ProgTalkEndTime {
    border: none;
    border-bottom: 1px solid #c8c8c8;
    border-radius: 0;
    color: #434343;
}

#editProgTalkForm_ProgTalkEndTime:focus {
    box-shadow: none;
}

#editProgTalkForm_Capacity {
    border: none;
    border-bottom: 1px solid #c8c8c8;
    border-radius: 0;
    color: #434343;
}

#editProgTalkForm_Capacity:focus {
    box-shadow: none;
}

.editProgTalkForm_InnerCol {
    height: 80%;
}

.editProgTalkModal .editProgTalkForm_DisciplineCon {
    background: #dff0ef;
    padding: 2%;
    border-radius: 6px;
    overflow-y: auto;
    max-height: 10vh;
    overflow-x: hidden;
}

.editProgTalkForm_CheckBox {
    color: #434343;
}

#editProgTalkForm_ProgTalkDetails {
    resize: none;
    border-radius: 6px;
    color: #434343;
}

#saveChangesProgTalkFormBtn {
    background: #60c6d9;
    border-color: #60c6d9;
    border-radius: 6px;
    width: 40%;
}

#saveChangesProgTalkFormBtn:focus {
    box-shadow: none;
}

#cancelEditProgTalkFormBtn {
    background: none;
    border: 1px solid #60c6d9;
    color: #60c6d9;
    border-radius: 6px;
    width: 40%;
}

#cancelEditProgTalkFormBtn:focus {
    box-shadow: none;
}