/* -- Main Forum -- */
.Forum-container {
    min-height: 100vh;
    overflow-y: auto;
    flex: 1 0 auto;
    overflow-x: hidden;
    padding: 0 !important;
}

.Forum-content {
    background-color: #ffffff;
    min-height: 84vh;
    padding: 0 !important;
}

#Forum-topContentContainer {
    background-color: #ffffff;
    min-height: 84vh;
    padding: 0 !important;
}

#Forum-firstRow {
    background: #88B7B5;
    width: 100%;
    margin: 0 !important;
}

#Forum-firstRowCol {
    height: 100%;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#Forum-title {
    color: #424242;
}

#Forum-secondRow {
    width: 100%;
    margin: 0 !important;
}

#Forum-secondRowCol {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#Forum-tableHeader {
    color: #424242;
    font-size: 90%;
    background-color: white;
}

#Forum-tableBody {
    color: #434343;
    font-size: 85% !important;
    padding: 0 !important;
    background-color: white;
}

.Forum-question {
    text-decoration: underline;
    color: #434343 !important; 
}

.Forum-question:hover{
    cursor: pointer;
}

/* -- Forum Flagged -- */
#ForumFlagged-removeBtn, #ForumFlagged-keepBtn {
    background: none;
    color: #434343;
    border: none;
}

#ForumFlagged-removeBtn:focus, #ForumFlagged-keepBtn:focus {
    box-shadow: none;
}

#ForumFlagged-questionsComments, #ForumFlagged-reasons, #ForumFlagged-dateTime {
    width: 21%;
}

#ForumFlagged-postedBy, #ForumFlagged-comments {
    width: 10%;
}

#ForumFlagged-icons, #ForumFlagged-type {
    width: 5%;
}

.ForumFlagged-removeModalCol, .ForumFlagged-keepModalCol {
    padding-bottom: 4%;
}

#ForumFlagged-removeText, #ForumFlagged-keepText {
    font-size: 95%;
    color: #424242;
}

#ForumFlagged-removeCancelBtn {
    width: 40%;
    background: #EA526F;
    border: 1px solid #EA526F;
    border-radius: 6px;
    color: white;    
}

#ForumFlagged-removeCancelBtn:focus {
    box-shadow: none;  
}

#ForumFlagged-removeConfirmBtn {
    width: 40%;
    background: none;
    border: 1px solid #EA526F;
    border-radius: 6px;
    color: #EA526F;
}

#ForumFlagged-removeConfirmBtn:focus {
    box-shadow: none;  
}

#ForumFlagged-keepCancelBtn {
    width: 40%;
    background: #f69e7b;
    border: 1px solid #f69e7b;
    border-radius: 6px;
    color: white;
}

#ForumFlagged-keepCancelBtn:focus {
    box-shadow: none;  
}

#ForumFlagged-keepConfirmBtn {
    width: 40%;
    background: none;
    border: 1px solid #f69e7b;
    border-radius: 6px;
    color: #f69e7b;
}

#ForumFlagged-keepConfirmBtn:focus {
    box-shadow: none;  
}

/* -- Forum Settings --  */
.ForumSettings-text {
    font-weight: bold;
}

.ForumSettings-switchModalCol {
    padding-bottom: 4%;
}

#ForumSettings-switchText {
    font-size: 95%;
    color: #424242;
    text-transform: lowercase;
}

#ForumSettings-switchText::first-letter {
    text-transform: uppercase;
}

#ForumSettings-switchCancelBtn {
    width: 40%;
    background: #EA526F;
    border: 1px solid #EA526F;
    border-radius: 6px;
    color: white;    
}

#ForumSettings-switchConfirmBtn {
    width: 40%;
    background: none;
    border: 1px solid #EA526F;
    border-radius: 6px;
    color: #EA526F;
}

/* -- View Forum Questions -- */
#ViewForum-firstRow {
    background-color: #e8ecf1;
    width: 100%;
    margin: 0 !important;
}

#ViewForum-secondRow {
    background-color: #6c737e;
    padding-top: 1%;
    width: 100%;
    margin: 0 !important;
}

#ViewForum-backBtn {
    background: none;
    border: none;
    color: #434343;
}

#ViewForum-backBtn:focus {
    box-shadow: none;
}

#ViewForum-backText {
    color: #707070;
    font-size: 90%;
    margin-left: 5px;
}

.ViewForum-questionCon {
    color: #424242;
    padding: 1% 3%;
}

.ViewForum-questionDetailsCon {
    padding: 1% 2% 0% 2%;
    color: #434343;
    font-size: 80%;
}

#ViewForum-secondRowText {
    padding-left: 2%;
    font-weight: bold;
    font-size: 75%;
    color: #f0ece3;
}

#ViewForum-thirdRow {
    margin: 0 !important;
    background-color: #b5cfd8;
}

.ViewForum-commentCon {
    color: #424242;
    padding: 3% 3% 1% 3%;
    font-size: 90%;
}

.ViewForum-commentDetailsCon {
    padding: 1% 2% 0% 2%;
    color: #434343;
    font-size: 80%;
}

#ViewForum-replyRow {
    margin-right: 0;
    
}

.ViewForum-replyCol {
    background-color: #e8ecf1;
    border-radius: 10px;
    margin: 1% 0% 3% 0%;
}

.ViewForum-replyInnerCon {
    color: #424242;
    padding: 2% 1% 1% 1%;
    font-size: 90%;
}

.ViewForum-replyInnerDetailsCon {
    color: #434343;
    font-size: 80%;
}

.border {
    border: 1px solid white;
}