.Forum-container {
    min-height: 100vh;
    overflow-y: auto;
    flex: 1 0 auto;
    overflow-x: hidden;
    padding: 0 !important;
}

.Forum-content {
    background-color: #ffffff;
    min-height: 84vh;
    padding: 0 !important;
}

#Forum-topContentContainer {
    background-color: #ffffff;
    min-height: 84vh;
    padding: 0 !important;
}

#Forum-firstRow {
    background-color: #88B7B5;
    height: 13vh;
    margin-right: 0;
}

#Forum-firstRowCol {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: -1%;
}

#Forum-title {
    font-size: 24px;
    font-weight: bold;
}

#Forum-secondRow {
    margin-right: 0;
}

#Forum-secondRowCol {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#Forum-tableHeader {
    color: #424242;
    font-size: 90%;
}

#Forum-tableBody {
    color: #434343;
    font-size: 85% !important;
    padding: 0 !important;
}

.Forum-question {
    text-align: left;
}

.Forum-questionLink {
    text-decoration: underline;
    color: #434343 !important;   
}

/* -- Forum Flagged -- */
#ForumFlagged-removeBtn, #ForumFlagged-keepBtn {
    background: none;
    color: #434343;
    border: none;
}

#ForumFlagged-removeBtn:focus, #ForumFlagged-keepBtn:focus {
    box-shadow: none;
}

#ForumFlagged-SNo {
    width: 3%;
}

#ForumFlagged-questionsComments, #ForumFlagged-reasons {
    width: 20%;
}

#ForumFlagged-comments, #ForumFlagged-icons {
    width: 5%;
}

.ForumFlagged-removeModalCol, .ForumFlagged-keepModalCol {
    padding-bottom: 4%;
}

#ForumFlagged-removeText, #ForumFlagged-keepText {
    font-size: 95%;
    color: #424242;
}

#ForumFlagged-removeCancelBtn {
    width: 40%;
    background: #EA526F;
    border: 1px solid #EA526F;
    border-radius: 6px;
    color: white;    
}

#ForumFlagged-removeConfirmBtn {
    width: 40%;
    background: none;
    border: 1px solid #EA526F;
    border-radius: 6px;
    color: #EA526F;
}

#ForumFlagged-keepCancelBtn {
    width: 40%;
    background: #f69e7b;
    border: 1px solid #f69e7b;
    border-radius: 6px;
    color: white;
}

#ForumFlagged-keepConfirmBtn {
    width: 40%;
    background: none;
    border: 1px solid #f69e7b;
    border-radius: 6px;
    color: #f69e7b;
}
