.GettingToSimHq-container {
    min-height: 100vh;
    overflow-y: auto;
    flex: 1 0 auto;
    overflow-x: hidden;
    padding: 0 !important;
}

.GettingToSimHq-content {
    background-color: #ffffff;
    min-height: 84vh;
    padding: 0 !important;
}

#GettingToSimHq-topContentContainer {
    background-color: #ffffff;
    min-height: 84vh;
    padding: 0 !important;
}

#GettingToSimHq-firstRow {
    background-color: #88B7B5;
    height: 13vh;
    margin: 0 !important;
}

#GettingToSimHq-firstRowCol {
    height: 100%;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#GettingToSimHq-title {
    color: #424242;
}

#GettingToSimHq-secondRow {
    margin: 0 !important;
}

#GettingToSimHq-secondRowCol {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.GettingToSimHq-secondInnerRow {
    margin: 0 !important;
}

.GettingToSimHq-secondInnerCol {
    padding: 0 !important;
}

.GettingToSimHq-navItemCon {
    padding: 0 !important;
}

.GettingToSimHq-navItems {
    background-color: #e4f2f0;
}

.GettingToSimHq-navLinks {
    color: #424242;
    font-weight: bold;
}

.GettingToSimHq-navLinks:hover {
    background-color: #62929E;
    color: white;
    border-color: #62929E !important;
}

.GettingToSimHq-navLinks:focus {
    background-color: #62929E;
    color: white;
    border-color: #62929E !important;
}

.GettingToSimHq-nav .GettingToSimHq-navLinks.active {
    background-color: #62929E !important;
    color: white !important;
    border-color: #62929E !important;
}

#GettingToSimHq-titleRow {
    margin: 0 !important;
}

#GettingToSimHq-thirdRowCol {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#GettingToSimHq-titleRowCol {
    height: 100%;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.GettingToSimHq-tableColCon {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.GettingToSimHq-tableCon {
    width: 100%;
    margin-bottom: 0;
    max-width: 100%;
}

#GettingToSimHq-editHeading, #GettingToSimHq-SNoHeading {
    width: 15%;
}

#GettingToSimHq-busLocation, #GettingToSimHq-mrtLocation {
    width: 35%;
}

#GettingToSimHq-tableHeader {
    color: #424242;
    font-size: 90%;
    background-color: white;
}

#GettingToSimHq-tableBody {
    color: #434343;
    font-size: 85%;
    background-color: white;
}

#GettingToSimHq-editBtn {
    background: none;
    color: #434343;
    border: none;
}

#GettingToSimHq-editBtn:focus {
    box-shadow: none;
}

#GettingToSimHq-modalTitle {
    color: #424242;
    text-align: center;
}

.GettingToSimHq-formGroup {
    display: flex;
    justify-content: center;
    align-items: center;
}

#GettingToSimHq-editFooter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.GettingToSimHq-editCol {
    display: flex;
    justify-content: center;
    align-items: center;
}

#GettingToSimHq-saveBtn {
    width: 40%;
    background: #60c6d9;
    border: 1px solid #60c6d9;
    border-radius: 6px;
    color: white;    
}

#GettingToSimHq-saveBtn:focus {
    box-shadow: none;   
}

#GettingToSimHq-cancelBtn {
    width: 40%;
    background: none;
    border: 1px solid #60c6d9;
    border-radius: 6px;
    color: #60c6d9;
}

#GettingToSimHq-cancelBtn:focus {
    box-shadow: none;   
}

#GettingToSimHq-inputFields {
    border: none;
    border-bottom: 1px solid #c8c8c8;
    border-radius: 0;
    color: #434343;    
    font-size: 85%;
}

#GettingToSimHq-inputFields:focus {
    box-shadow: none;
}

#GettingToSimHq-textAreas {
    color: #434343;    
    font-size: 85%;
    border: 1px solid #c8c8c8;
}

#GettingToSimHq-textAreas:focus {
    box-shadow: none;
    border: 1px solid #c8c8c8;
}

#GettingToSimHq-descriptionData {
    text-transform: capitalize;
}

#GettingToSimHq-thirdTableHeading {
    width: 11.5%;
}

.errorMessage {
    color: red;
    font-size: 85%;
}

#border {
    border: 0.5px solid #e8e8e8;
    margin: 2% 0% 1% 0%;
}

.GettingToSimHq-imgFile .custom-file-input {
    border: 1px solid #c8c8c8;
    border-radius: 6px;
    font-size: 85% !important;
    color: #434343;
}

.GettingToSimHq-imgFile .custom-file-label {
    color: #434343;
    overflow: hidden;
    font-size: 90% !important;
}

.GettingToSimHq-imgFile:focus {
    box-shadow: none;
}
