.MAHome-container {
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1 0 auto;
    padding: 0 !important;
}

.MAHome-content {
    background-color: #ffffff;
    min-height: 84vh;
    padding: 0 !important;
}

#MAHome-topContentContainer {
    padding: 0 !important;
}

#MAHome-firstRow {
    background-color: #fffdf6;
    height: 13%;
}

#MAHome-secondRow {
    max-height: 5%;
}

#MAHome-refreshBtn {
    background: none;
    color: black;
    border: none;
}

#MAHome-secondRowCol1 {
    font-weight: bold;
}

#MAHome-secondRowCol2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
}