.OFA-container {
    min-height: 100vh;
    overflow-y: auto;
    flex: 1 0 auto;
    overflow-x: hidden;
    padding: 0 !important;
}

.OFA-content {
    background-color: #ffffff;
    min-height: 84vh;
    padding: 0 !important;
}

#OFA-topContentContainer {
    background-color: #ffffff;
    min-height: 84vh;
    padding: 0 !important;
}

#OFA-firstRow {
    background-color: #88B7B5;
    height: 13vh;
    margin: 0 !important;
}

#OFA-firstRowCol {
    height: 100%;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#OFA-title {
    color: #424242;
}

#OFA-secondRow {
    margin: 0 !important;
}

#OFA-secondRowCol {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.OFA-secondInnerRow {
    margin: 0 !important;
}

.OFA-secondInnerCol {
    padding: 0 !important;
}

.OFA-navItemCon {
    padding: 0 !important;
    width: 20%;
}

.OFA-navItems {
    background-color: #e4f2f0;
}

.OFA-navLinks {
    color: #424242;
    font-weight: bold;
}

.OFA-navLinks:hover {
    background-color: #62929E;
    color: white;
    border-color: #62929E !important;
}

.OFA-navLinks:focus {
    background-color: #62929E;
    color: white;
    border-color: #62929E !important;
}

.OFA-nav .OFA-navLinks.active {
    background-color: #62929E !important;
    color: white !important;
    border-color: #62929E !important;
}

#OFA-titleRow {
    margin: 0 !important;
}

#OFA-thirdRowCol {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#OFA-titleRowCol {
    height: 100%;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.OFA-tableColCon {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.OFA-tableCon {
    width: 100%;
    margin-bottom: 0;
    max-width: 100%;
}

#OFA-emailHeading, #OFA-contactHeading {
    width: 15%;
}

#OFA-editHeading {
    width: 10%;
}

#OFA-heading {
    width: 20%;
}

#OFA-tableHeader {
    color: #424242;
    font-size: 90%;
}

#OFA-tableBody {
    color: #434343;
    font-size: 85%;
}

#OFA-editBtn {
    background: none;
    color: #434343;
    border: none;
}

#OFA-editBtn:focus {
    box-shadow: none;
}

#OFA-modalTitle {
    color: #424242;
    text-align: center;
}

.OFA-formGroup {
    display: flex;
    justify-content: center;
    align-items: center;
}

#OFA-editFooter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.OFA-editCol {
    display: flex;
    justify-content: center;
    align-items: center;
}

#OFA-saveBtn {
    width: 40%;
    background: #60c6d9;
    border: 1px solid #60c6d9;
    border-radius: 6px;
    color: white;    
}

#OFA-saveBtn:focus {
    box-shadow: none;   
}

#OFA-cancelBtn {
    width: 40%;
    background: none;
    border: 1px solid #60c6d9;
    border-radius: 6px;
    color: #60c6d9;
}

#OFA-cancelBtn:focus {
    box-shadow: none;   
}

#OFA-inputFields {
    border: none;
    border-bottom: 1px solid #c8c8c8;
    border-radius: 0;
    color: #434343;    
    font-size: 85%;
}

#OFA-inputFields:focus {
    box-shadow: none;
}

#OFA-textAreas {
    color: #434343;    
    font-size: 85%;
    border: 1px solid #c8c8c8;
}

#OFA-textAreas:focus {
    box-shadow: none;
    border: 1px solid #c8c8c8;
}

.errorMessage {
    color: red;
    font-size: 85%;
}

#border {
    border: 0.5px solid #e8e8e8;
    margin: 2% 0% 1% 0%;
}