.Performances-container {
    min-height: 100vh;
    overflow-y: auto;
    flex: 1 0 auto;
    overflow-x: hidden;
    padding: 0 !important;
}

.Performances-content {
    background-color: #ffffff;
    min-height: 84vh;
    padding: 0 !important;
}

#Performances-topContentContainer {
    background-color: #ffffff;
    min-height: 84vh;
    padding: 0 !important;
}

#Performances-firstRow {
    background-color: #88B7B5;
    height: 13vh;
    margin: 0 !important;
}

#Performances-firstRowCol {
    height: 100%;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#Performances-title {
    color: #424242;
}

#Performances-addBtn {
    background: none;
    border: 1px solid #424242;
    color: #424242;
    min-width: 20%;
    border-radius: 6px;
}

#Performances-addBtn:hover {
    background: #424242;
    border-color: #424242;
    color: white;
}

#Performances-addBtn:focus {
    box-shadow: none;
}

#Performances-addBtnText {
    margin-left: 10%;
}

#Performances-secondRow {
    margin: 0 !important;
}

#Performances-secondRowCol {
    padding: 0 !important;
}

.Performances-secondInnerRow {
    margin: 0 !important;
}

.Performances-secondInnerCol {
    padding: 0 !important;
}

.Performances-navItemCon {
    padding: 0 !important;
}

.Performances-navItems {
    background-color: #e4f2f0;
}

.Performances-navLinks {
    color: #424242;
    font-weight: bold;
}

.Performances-navLinks:hover {
    background-color: #62929E;
    color: white;
    border-color: #62929E !important;
}

.Performances-navLinks:focus {
    background-color: #62929E;
    color: white;
    border-color: #62929E !important;
}

.Performances-nav .Performances-navLinks.active {
    background-color: #62929E !important;
    color: white !important;
    border-color: #62929E !important;
}

/* -- Day 1 and 2 Content -- */
.Performances-tableColCon {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.Performances-tableCon {
    width: 100%;
    margin-bottom: 0;
    max-width: 100%;
}

.Performances-tableHeader {
    color: #424242;
    font-size: 90%;
    background-color: white;
}

.Performances-tableBody {
    color: #434343;
    font-size: 85%;
    background-color: white;
}

#Performances-editBtn {
    background: none;
    border: none;
    color: #434343;
}

#Performances-editBtn:focus {
    box-shadow: none;
}

#Performances-deleteBtn {
    background: none;
    border: none;
    color: #434343;
}

#Performances-deleteBtn:focus {
    box-shadow: none;
}

.errorMessage {
    color: red;
    font-size: 80%;
}

/* -- Add/Edit Modal -- */
.Performances-formGroup {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Performances-modalTitle {
    color: #424242;
    text-align: center;
}

#Performances-addfooter, #Performances-editFooter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Performances-addFooterCol, .Performances-editFooterCol{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Performances-submitBtn {
    width: 40%;
    background: #60c6d9;
    border: 1px solid #60c6d9;
    border-radius: 6px;
    color: white;    
}

#Performances-submitBtn:focus {
    box-shadow: none;    
}

#Performances-saveBtn {
    width: 40%;
    background: #60c6d9;
    border: 1px solid #60c6d9;
    border-radius: 6px;
    color: white;    
}

#Performances-saveBtn:focus {
    box-shadow: none;    
}

#Performances-cancelBtn {
    width: 40%;
    background: none;
    border: 1px solid #60c6d9;
    border-radius: 6px;
    color: #60c6d9;    
}

#Performances-cancelBtn:focus {
    box-shadow: none;    
}

#Performances-inputFields {
    border: none;
    border-bottom: 1px solid #c8c8c8;
    border-radius: 0;
    color: #434343;    
    font-size: 85%;
}

#Performances-inputFields:focus {
    box-shadow: none;
}

 /* -- Delete Modal -- */
.Performances-deleteFooterCol {
    padding-bottom: 4%;
}

#Performances-deleteText {
    font-size: 95%;
    color: #424242;
}

#Performances-deleteConfirmBtn {
    width: 40%;
    background: none;
    border: 1px solid #EA526F;
    border-radius: 6px;
    color: #EA526F
}

#Performances-deleteConfirmBtn:focus {
    box-shadow: none;    
}

#Performances-deleteCancelBtn {
    width: 40%;
    background: #EA526F;
    border: 1px solid #EA526F;
    border-radius: 6px;
    color: white;
}

#Performances-deleteCancelBtn:focus {
    box-shadow: none;    
}