.MAProgLiveTalkCon {
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1 0 auto;
    padding: 0 !important;
}

.MAProgLiveTalkContent {
    background: #ffffff;
    min-height: 84vh;
    padding: 0 !important;
}

.MAProgLiveTalkContentCon {
    background: #ffffff;
    min-height: 84vh;
    padding: 0 !important;
}

#MAProgLiveTalkContentHeaderRow {
    background: #88B7B5;
    width: 100%;
    margin: 0 !important;
}

.MAProgLiveTalkContentHeaderCol {
    height: 100%;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#MAProgLiveTalkHeaderText {
    color: #424242;
}

#addProgLiveTalkBtn {
    background: none;
    color: #424242;
    min-width: 20%;
    border-radius: 6px;
    border: 1px solid #424242;
}

#addProgLiveTalkBtnIcon {
    margin-right: 5%;
}

#addProgLiveTalkBtnText {
    margin-left: 5%;
}

#addProgLiveTalkBtn:hover {
    background: #424242;
    color: #ffffff;
    border-color: #424242;
}

#addProgLiveTalkBtn:focus {
    box-shadow: none;
}

/*******************************************************/
/* Tabs Con Css*/
.MAProgLiveTalkContentTabRow {
    margin: 0 !important;
}

.MAProgLiveTalkContentTabCol {
    padding: 0 !important;
}

.MAProgLiveTalkTabConRow {
    margin: 0 !important;
    padding: 0;
}

.MAProgLiveTalkTabConCol {
    padding: 0 !important;
}

.MAProgLiveTalkTabConInnerCol {
    padding: 0 !important;
}

.MAProgLiveTalkTab_NavItem {
    background: #e4f2f0;
}

.MAProgLiveTalkTab_Day {
    color: #424242;
    font-weight: bold;
}

.MAProgLiveTalkTab_Day:focus {
    color: #ffffff;
    background: #62929E;
    border-color: #62929E !important;
}

.MAProgLiveTalkTab_Day:hover {
    color: #ffffff;
    background: #62929E;
    border-color: #62929E !important;
}

.MAProgLiveTalkTabNav .MAProgLiveTalkTab_Day.active {
    background: #62929E !important;
    color: #ffffff !important;
    border-color: #62929E !important;   
}

.MAProgLiveTalkTabpaneCol {
    padding: 0 !important;
}

/*******************************************************/
/* Live Stream Table - Day 1 */
#MAProgLiveTalkTable_Day1 {
    width: 100%;
    margin-bottom: 0;
    max-width: 100%;
}

.progLiveTalkHeader_SNo {
    width: 3%;
    color: #424242;
    font-size: 90%;
}

.progLiveTalkHeader_ProgTalk {
    width: 16%;
    color: #424242;
    font-size: 90%;
}

.progLiveTalkHeader_AwardingUni {
    width: 16%;
    color: #424242;
    font-size: 90%;
}

.progLiveTalkHeader_StartTime {
    width: 10%;
    color: #424242;
    font-size: 90%;
}

.progLiveTalkHeader_EndTime {
    width: 10%;
    color: #424242;
    font-size: 90%;
}

.progLiveTalkHeader_Venue {
    width: 15%;
    color: #424242;
    font-size: 90%;
}

.progLiveTalkHeader_Url {
    width: 20%;
    color: #424242;
    font-size: 90%;
}

.progLiveTalkHeader_Edit {
    width: 5%;
    color: #424242;
    font-size: 90%;
}

.progLiveTalkHeader_Delete {
    width: 5%;
    color: #424242;
    font-size: 90%;
}

/******************* Table Data *******************/
.progLiveTalkData_SNo {
    width: 3%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
}

.progLiveTalkData_ProgTalk {
    width: 16%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
}

.progLiveTalkData_AwardingUni {
    width: 16%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
}

.progLiveTalkData_StartTime {
    width: 10%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
}

.progLiveTalkData_EndTime {
    width: 10%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
}

.progLiveTalkData_Venue {
    width: 15%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
}

.progLiveTalkData_Url {
    width: 20%;
    color: #434343 !important;
    font-size: 85%;
    word-wrap: break-word;
    word-break: break-all;
}

.progLiveTalkData_UrlHref {
    color: #434343 !important;
}

.progLiveTalkData_UrlHref:hover {
    color: #88B7B5 !important;
}

.progLiveTalkData_Edit {
    width: 5%;
    color: #434343;
    font-size: 85%;
}

.progLiveTalkHeader_Delete {
    width: 5%;
    color: #434343;
    font-size: 85%;
}

#editProgLiveTalkBtn {
    background: none;
    border: none;
    color: #434343;
}

#editProgLiveTalkBtn:focus {
    box-shadow: none;
}

#editProgLiveTalkBtnIcon {
    color: #424242;
}

#deleteProgLiveTalkBtn {
    background: none;
    border: none;
    color: #434343;
}

#deleteProgLiveTalkBtn:focus {
    box-shadow: none;
}

#deleteProgLiveTalkBtnIcon {
    color: #424242;
}

/*******************************************************/
/* Live Stream Table - Day 2 */
#MAProgLiveTalkTable_Day2 {
    width: 100%;
    margin-bottom: 0;
    max-width: 100%;
}