.MAStudentAcctCon {
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1 0 auto;
    padding: 0 !important;
}

.MAStudentAcctContent {
    background: #ffffff;
    min-height: 84vh;
    padding: 0 !important;
}

.MAStudentAcctContentCon {
    background: #ffffff;
    min-height: 84vh;
    padding: 0 !important;
}

.MAStudentAcctSearchInputForm {
    min-width: 80%;
}

#MAStudentAcctContentSearchRow {
    background: #88B7B5;
    width: 100%;
    margin: 0 !important;
}

#MAStudentAcctContentSearchCol {
    height: 100%;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#MAStudentAcctSearchBar {
    min-width: 70%;
    border: none;
    border-radius: 8px;
}

#MAStudentAcctSearchBar:focus {
    box-shadow: 1px 1px 10px #6874E8;
}

#MAStudentAcctSearchBarBtn{
    background: none;
    border: none;
    margin-left: 5px;
}

#MAStudentAcctSearchBarBtn:focus {
    box-shadow: 1px 1px 10px #6874E8;
}

#searchBtnIcon {
    color: #424242;
}

/*******************************************************/
/* Student Account Table Css*/
#MAStudentAcctTable {
    width: 100%;
    margin-bottom: 0;
}

#studAcctHeader_Checkbox {
    width: 3%;
    color: #424242;
    font-size: 80%;
}

#studAcctHeader_SNo {
    width: 5%;
    color: #424242;
    font-size: 90%;
}

#studAcctHeader_FirstName {
    width: 11%;
    color: #424242;
    font-size: 90%;
}

#studAcctHeader_LastName {
    width: 11%;
    color: #424242;
    font-size: 90%;
}

#studAcctHeader_Email {
    width: 15%;
    color: #424242;
    font-size: 90%;
}

#studAcctHeader_ContactNo {
    width: 10%;
    color: #424242;
    font-size: 90%;
}

#studAcctHeader_DOB {
    width: 10%;
    color: #424242;
    font-size: 90%;
}

#studAcctHeader_HighestQual {
    width: 10%;
    color: #424242;
    font-size: 90%;
}

#studAcctHeader_Nationality {
    width: 10%;
    color: #424242;
    font-size: 90%;
}

#studAcctHeader_SuspendStud {
    width: 10%;
    color: #424242;
    font-size: 90%;
}

#studAcctData_Checkbox {
    width: 3%;
    color: #434343;
    font-size: 85%;
}

#studAcctData_SNo {
    width: 5%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
    word-break: break-all;
}

#studAcctData_FirstName {
    width: 11%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
    word-break: break-all;
}

#studAcctData_LastName {
    width: 11%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
    word-break: break-all;
}

#studAcctData_Email {
    width: 15%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
    word-break: break-all;
}

#studAcctData_ContactNo {
    width: 10%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
    word-break: break-all;
}

#studAcctData_DOB {
    width: 10%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
    word-break: break-all;
}

#studAcctData_HighestQual {
    width: 10%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
    word-break: break-all;
}

#studAcctData_Nationality {
    width: 10%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
    word-break: break-all;
}

#studAcctData_SuspendStud {
    width: 10%;
    color: #434343;
    font-size: 85%;
}

#suspendStudBtn {
    background: none;
    border: none;
    color: #434343;
}

#suspendStudBtn:focus {
    box-shadow: none;
}

#unsuspendStudBtn {
    background: none;
    border: none;
    color: #434343;
}

#unsuspendStudBtn:focus {
    box-shadow: none;
}

/************************************************************/
/* Suspend Student Account Modal */
#suspendStudAcctModalTitle {
    font-size: 95%;
    color: #EA526F;
}

.suspendStudAcctModalCol {
    padding-bottom: 4%;
}

#suspendStudAcctModalIcon {
    width: 20%;
}

#suspendStudAcctModalText {
    font-size: 90%;
    color: #424242;
}

#confirmSuspendStudAcctModalBtn {
    background: none;
    border: 1px solid #EA526F;
    border-radius: 6px;
    color: #EA526F;
    width: 40%;
}

#cancelSuspendStudAcctModalBtn {
    background: #EA526F;
    border: 1px solid #EA526F;
    border-radius: 6px;
    color: #ffffff;
    width: 40%;
}

/************************************************************/
/* Unsuspend Student Account Modal */
#unsuspendStudAcctModalTitle {
    font-size: 95%;
    color: #f69e7b;
}

.unsuspendStudAcctModalCol {
    padding-bottom: 4%;
}

#unsuspendStudAcctModalIcon {
    width: 20%;
}

#unsuspendStudAcctModalText {
    font-size: 90%;
    color: #424242;
}

#confirmUnsuspendStudAcctModalBtn {
    background: none;
    border: 1px solid #f69e7b;
    border-radius: 6px;
    color: #FAA300;
    width: 40%;
}

#cancelUnsuspendStudAcctModalBtn {
    background: #f69e7b;
    border: 1px solid #f69e7b;
    border-radius: 6px;
    color: #ffffff;
    width: 40%;
}

/* FF8C42 */
/* FAA300 */
/* f69e7b */