.MAStudentAcctCon {
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1 0 auto;
    padding: 0 !important;
}

.MAStudentAcctContent {
    background: #ffffff;
    min-height: 84vh;
    padding: 0 !important;
}

.MAStudentAcctContentCon {
    background: blue;
    min-height: 84vh;
}