#viewStudySIMProgDetailsModalTitle {
    color: #424242;
    text-align: left;
}

#viewStudySIMProgDetailsModalBody {
    overflow-y: auto !important;
    width: 100% !important;
    min-height: 50vh !important;
    max-height: 70vh !important;
    padding: 1%;
}

#viewStudySIMProgDetailsHeader_AboutProg {
    width: 16%;
    color: #424242;
    font-size: 90%;
    word-wrap: break-word;
}

#viewStudySIMProgDetailsHeader_ApplicationPeriod {
    width: 16%;
    color: #424242;
    font-size: 90%;
    word-wrap: break-word;
}

#viewStudySIMProgDetailsHeader_ProgStructure {
    width: 10%;
    color: #424242;
    font-size: 90%;
    word-wrap: break-word;
}

#viewStudySIMProgDetailsHeader_OverseasOpp {
    width: 10%;
    color: #424242;
    font-size: 90%;
    word-wrap: break-word;
}

#viewStudySIMProgDetailsHeader_IntakeMonth {
    width: 16%;
    color: #424242;
    font-size: 90%;
    word-wrap: break-word;
}

#viewStudySIMProgDetailsHeader_Duration {
    width: 20%;
    color: #424242;
    font-size: 90%;
    word-wrap: break-word;
}

#viewStudySIMProgDetailsHeader_Coursework {
    width: 5%;
    color: #424242;
    font-size: 90%;
    word-wrap: break-word;
}

#viewStudySIMProgDetailsHeader_Examination {
    width: 5%;
    color: #424242;
    font-size: 90%;
    word-wrap: break-word;
}

#viewStudySIMProgDetailsHeader_Exchange {
    width: 5%;
    color: #424242;
    font-size: 90%;
    word-wrap: break-word;
}

#viewStudySIMProgDetailsHeader_Transfer {
    width: 5%;
    color: #424242;
    font-size: 90%;
    word-wrap: break-word;
}

/*********************** Table Data ***********************/
#viewStudySIMProgDetailsData_AboutProg {
    width: 16%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
}

#viewStudySIMProgDetailsData_ApplicationPeriod {
    width: 16%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
}

#viewStudySIMProgDetailsData_IntakeMonth {
    width: 16%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
}

#viewStudySIMProgDetailsData_Duration {
    width: 20%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
}

#viewStudySIMProgDetailsData_Coursework {
    width: 5%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
}

#viewStudySIMProgDetailsData_Examination {
    width: 5%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
}

#viewStudySIMProgDetailsData_Exchange {
    width: 5%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
}

#viewStudySIMProgDetailsData_Transfer {
    width: 5%;
    color: #434343;
    font-size: 85%;
    word-wrap: break-word;
}